source s_auditd {
    file(/var/log/audit/audit.log flags(no-parse));
};

destination d_net {
   syslog("{{ graylog_syslog_server }}" port ( {{ graylog_syslog_server_port }} ));
};

log {
    source(s_auditd);
    destination(d_net);
};